.lead{
  width: 100%;
  margin-bottom: 64px;
  max-width: 928px;
}

@media (min-width: 768px){
  .lead{
    margin: 0 auto 88px auto;
  }
}

@media (min-width: 1024px){
  .lead{
    margin: 0 auto 114px auto;
  }
}

@media (min-width: 1280px){
  .lead{
    max-width: 984px;
  }
}
