.intro{
min-width: 288px;
margin: 0 16px 64px 16px;
}

@media (min-width: 768px){
  .intro{
    width: 720px;
    margin: 0 24px 87px 24px;
  }
}

@media (min-width: 1024px){
  .intro{
    width: 928px;
    margin: 0 auto 92px auto;
  }
}

@media (min-width: 1280px){
  .intro{
    width: 984px;

  }
}
