.lead__subtitle{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  width: 288px;
  margin: 0 auto;
}
